<div class="app-header">
  <div class="d-flex flex-row align-items-center">
    <div class="app-header-logo">
      <i class="fa fa-paypal" aria-hidden="true"></i>
      <div class="app-header-logo-title">Pexels</div>
    </div>
    <div class="app-header-search">
      <div class="search-container">
        <input type="text" placeholder="Search for free photos" name="search">
      </div>
    </div>
  </div>
  <ul class="navigation-item">
    <li>Explore</li>
    <li>License</li>
    <li><i class="fa fa-regular fa-bell"></i></li>
    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i></li>
    <li><button type="button" class="btn btn-upload">Upload</button></li>
  </ul>
</div>
