<app-user-profile-modal></app-user-profile-modal>
<div class="user-container">
  <div class="user-info">
    <img src="../../../assets/svg/avatar.svg" class="user-info-image">
    <h4 class="user-info-name">{{user}}</h4>
  </div>
  <div class="user-buttons">
    <img src="../../../assets/svg/download.svg">
    <img src="../../../assets/svg/add.svg">
    <img src="../../../assets/svg/like.svg">
  </div>
</div>

<!-- <i class="fa fa-arrow-down" aria-hidden="true"></i>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <i class="fa fa-heart-o" aria-hidden="true"></i> -->
