/* You can add global styles to this file, and also import other style files */
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    cantarell, helvetica neue, ubuntu, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  background-color: #fff;
}
